h1.GameOver {
    visibility: hidden;
}

div.board {
    align-items: center;
    background-color: rgb(158, 107, 206);
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

button.rc-button {
    visibility: visible;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(180, 39, 39);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button.pregame {
    visibility: visible;
}

#Chess {
    margin-left: 400px;
    vertical-align: middle;

}