#GameOver {
    visibility: hidden;
}

.layoutsWhite { grid-area: lw; }
.layoutsBlack { grid-area: lb; }
.board { grid-area: b; }
.abilitiesWhite { grid-area: aw; }
.abilitiesBlack { grid-area: ab; }
.customizations { grid-area: c; }
.info { grid-area: i; }


.outerDiv {
    background-color: rgb(53, 183, 206);
    display: grid;
    grid-template-areas:
    'lw lw b b b i lb lb'
    'aw aw b b b i ab ab'
    'c c c c c c c c';
    grid-gap: 10px;
}

.board {
    float: center;
    padding: 20px;
    border: 2px solid black;
    grid-row-end: span 2;
}

.board > button {
    padding: 25px 25px;
}

.Chesstext {
    text-align: center;
    word-break: break-all;
}

.layoutsWhite {
    float: center;
    padding: 20px;
    border: 2px solid black;
}

.layoutsBlack {
    float: left;
    padding: 20px;
    border: 2px solid black;
}

.abilitiesWhite {
    float: left;
    padding: 20px;
    border: 2px solid black;
}

.abilitiesBlack {
    float: left;
    padding: 20px;
    border: 2px solid black;
}

.info {
    float: left;
    padding: 20px;
    border: 2px solid black;
    overflow-wrap: break-word;
    font-size: 10px;
}

.customizations {
    float: left;
    padding: 20px;
    border: 2px solid black;
    grid-column-end: span 3;
}

button.customization-button {
    visibility: visible;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(180, 39, 39);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button.pregame {
    background-color: #4CAF50;
    border: 5px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: .4s;
}

button.pregame:hover {
    background-color: #2c6e2e;
    color: white;
}

button.ability-buttonW {
    background-color: #4CAF50;
    border: 5px solid blue;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: .4s;
}

button.ability-buttonW:hover {
    background-color: #2c6e2e;
    color: white;
}

button.ability-buttonB {
    background-color: #4CAF50;
    border: 5px solid blue;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: .4s;
}

button.ability-buttonB:hover {
    background-color: #2c6e2e;
    color: white;
}

button.pregame {
    visibility: visible;
}